div{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    
}
img{
   
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}