
<a routerLink="../inventory">Back to Inventory</a>

<div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <ul class="list-group" *ngFor="let sneaker of sneakers; let i = index">
        <img [src]="sneaker.pictureUrl">
        <li id="id" class="list-group-item">Name: {{sneaker.name}} <br> Type: {{ sneaker.type }} <br> Price:{{sneaker.price | currency}}</li>
        <section style="display: inline-flex" >
        <button id="btn" class="btn btn-primary" (click)="onRemove(i)">Remove</button>
        </section>           
        </ul>
        <br>
        <button class="btn btn-primary" type="submit">Proceed To Checkout</button>
    </form>
</div>


